.App {
  min-height: 100vh;
  background: #0a0a0f;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-link img {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}
